[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BDWreg"]
	path = BDWreg
	url = https://github.com/hamedhm/bdwreg
	shallow = true
	registered = true
[submodule "DLASSO"]
	path = DLASSO
	url = https://github.com/cran/DLASSO
	shallow = true
	registered = true
[submodule "DREGAR"]
	path = DREGAR
	url = https://github.com/cran/DREGAR
	shallow = true
	registered = true
